@model List<WebUserAccountResponseDTO>

<form method="get" asp-controller="Home" asp-action="Test">
	<div class="form-group">
		<label for="firstId">First Id</label>
		<input type="number" name="firstId" class="form-control" id="firstId" />
	</div>
	<div class="form-group">
		<label for="lastId">Last Id</label>
		<input type="number" name="lastId" class="form-control" id="lastId" />
	</div>
	<div class="form-group">
		<label for="firstCreatedDate">First Created Date</label>
		<input type="date" name="firstCreatedDate" class="form-control" id="firstCreatedDate" />
	</div>
	<div class="form-group">
		<label for="secondCreatedDate">Second Created Date</label>
		<input type="date" name="secondCreatedDate" class="form-control" id="secondCreatedDate" />
	</div>
	<div class="form-group">
		<label for="firstUpdatedDate">First Updated Date</label>
		<input type="date" name="firstCreatedDate" class="form-control" id="firstCreatedDate" />
	</div>
	<div class="form-group">
		<label for="secondUpdatedDate">Second Updated Date</label>
		<input type="date" name="secondCreatedDate" class="form-control" id="secondCreatedDate" />
	</div>
	<div class="form-group">
		<label for="isUpdated">Is Updated?</label>
		<select name="isUpdated" class="form-control" id="isUpdated">
			<option value="true">Yes</option>
			<option value="false">No</option>
		</select>
	</div>

	<div class="form-group">
		<label for="status">Status</label>
		<select name="status" class="form-control" id="status">
			<option value="">--Select Status--</option>
			<option value="@DataAccess.Entities.Enums.DataStatus.Unknown">Unknown</option>
			<option value="@DataAccess.Entities.Enums.DataStatus.Active">Active</option>
			<option value="@DataAccess.Entities.Enums.DataStatus.Passive">Passive</option>
		</select>
	</div>
	<button type="submit" class="btn btn-primary">Filter</button>
</form>






<div class="card-body">
	<table class="table-bordered">
		<thead>
			<tr>
				<th>Identify</th>
				<th>Unique Identify</th>
				<th style="width:180px">User Name</th>
				<th style="width: 280px">Email</th>
				<th>Phone Number</th>
				<th>Phone Number Confirmed</th>
				<th style="width: 250px">Created Date</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr class="align-middle">
					<td>@item.Id</td>
					<td>@item.Guid</td>
					<td>@item.UserName</td>
					<td>@item.Email</td>
					<td>@item.PhoneNumber</td>
					<td>@item.PhoneNumberConfirmed</td>
					<td>@item.CreatedDate</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<style>
	td {
		text-align: center;
		vertical-align: middle
	}

	th {
		text-align: center;
		vertical-align: middle
	}
</style>